{% extends 'TwigBundle:Exception:layout.html.twig' %}

{% block title %}Page non trouvée !{% endblock %}

{% block body %}
    <p>Il semblerait que la page à laquelle vous voulez accède n'existe pas ou plus.</p>
{% endblock %}
