<footer>
	<hr />
	<ul class="nav nav-pills nav-justified">
		<li><a href="{{ path('dmlblog_partenaires') }}">Partenaires</a></li>
		<li><a href="{{ path('dmlblog_mentions_legales') }}">Mentions légales</a></li>
		<li><a href="{{ path('dmlblog_contact') }}">Contact</a></li>	
	</ul>
</footer>