<header>
	<div>
	    <div>
	        <a href="{{ path('dmlblog_homepage') }}" title='Dans ma librairie'>
	        	<img src="{{ asset('bundles/blog/img/dml_logo.png') }}" alt='Dans ma librairie' id="logo"/>
	        </a>
	    </div>
        <div class="titre_nav">
            <h1><a href="{{ path('dmlblog_homepage') }}" title="Dans ma librairie">Dans ma librairie</a></h1>
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    {% include '::follow.html.twig' %}
                </div>
            </div>
            {% set categorie = categorie is defined ? categorie : 'jeunesse' %}
            {% set nav = nav is defined ? nav : null %}
            {% render(controller('DmlBlogBundle:Blog:nav', {'categorie': categorie, 'page_nav': nav})) %}
        </div>
    </div>
</header>

{% include 'DmlBlogBundle:Blog:_modal_categorie.html.twig' with {'cat' : "jeunesse"} %}
{% include 'DmlBlogBundle:Blog:_modal_categorie.html.twig' with {'cat' : "bd"} %}
{% include 'DmlBlogBundle:Blog:_modal_categorie.html.twig' with {'cat' : "science-fiction"} %}
