<header>
	<div>
	    <div>
	        <a href="{{ path('dmlblog_homepage') }}" title='Dans ma librairie'>
	        	<img src="{{ asset('bundles/blog/img/dml_logo.png') }}" alt='Dans ma librairie' id="logo"/>
	        </a>
	    </div>
	    <div>
	        <h1><a href="{{ path('dmlblog_homepage') }}" title="Dans ma librairie">Dans ma librairie</a></h1>
	    </div>
        {% include '::follow.html.twig' %}
	</div>
</header>
