{% extends 'DmlBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - les informations légales sur la librairie{% endblock %}

{% block meta %}
    <meta name="description" content="les informations légales sur la librairie" />
{% endblock %}

{% block body %}
	<section id="mentions_legales">
		<h1>MENTIONS LEGALES</h1>
		<aside>
			<blockquote>
				<strong>"dans ma librairie"</strong> est une enseigne de la SAS BD BULLE à Agen.<br />
				<strong>R.C.S</strong> : Agen<br />
				<strong>Siège social</strong> : 32 rue Garonne 47000 Agen,<br />
				<strong><abbr>Tél</abbr></strong> : 05.53.48.25.68<br />
				<strong>Siret</strong> : 47936189100027<br />
				<strong>APE</strong> : 4761Z.<br />
				<strong>Président</strong> : Michel BRAUN.<br />
				<strong>Email</strong> : <a href="mailto:contact@dansmalibrairie.com" title="Envoyez un mail !">contact@dansmalibrairie.com</a>
			</blockquote>
		</aside>
		<aside>
			<blockquote>
				<strong>Les mots-clefs</strong> 
				<ul>
					<li>bd-bulle agen</li>
					<li>bd bulle agen</li>
					<li>bdbulle agen</li>
					<li>bd-bulles agen</li>
					<li>bdbulles agen</li>
					<li>bd bulles agen</li>
				</ul>
				<ul>
					<li>dans ma librairie</li>
					<li>jeunesse</li>
					<li>bd</li>
					<li>librairie</li>
					<li>manga</li>
				</ul>
			</blockquote>
		</aside>
	</section>
{% endblock %}