{% extends "DmlUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-md-6">
			<div class="alert alert-info">
				<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
			</div>
		</div>
	</div>

{% endblock fos_user_content %}
