{% extends 'DmlUserBundle::layout.html.twig' %}

{% block body %}
	{% block fos_user_content %}
		<div class="row">
			<div class="col-md-12">
				<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="username" class="col-md-3 control-label">Nom d'utilisateur ou adresse e-mail</label>
						<div class="col-md-3">
							<input type="text" id="username" name="username" required="required" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-1 col-md-1">
							<a
								class="btn btn-info" 
								href="{{ path('fos_user_security_login') }}">
									<span class="glyphicon glyphicon-arrow-left"></span> Retour
							</a>
						</div>
						<div class="col-md-offset-1 col-md-9">
							<button type="submit" class="btn btn-primary">Réinitialiser le mot de passe <span class="glyphicon glyphicon-ok"></span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	{% endblock fos_user_content %}
{% endblock body %}